<!DOCTYPE html>
<html lang="de" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kamera Stream</title>
        <script>
            // Funktion, die aufgerufen wird, wenn die "T"-Taste gedrückt wird
            document.addEventListener('keydown', function(event) {
                if (event.key === 'T' || event.key === 't') {
                    // HTTP-Anfrage an den Flask-Server senden
                    fetch('/theme_Switch').then(response => {
                        if (response.ok) {
                            // Nach erfolgreichem Themawechsel die Seite neu laden
                            window.location.reload();
                        } else {
                            console.error('Fehler beim Thema wechseln');
                        }
                    });
                }
            });
        </script>
    </head>
    <body style="height: calc(100% - 16px);">
        <h6 style="margin-bottom: 5px; margin-top: 10px; height: 15px;"><u>Thema:</u> {{ current_theme }} &emsp; &emsp; Mit der T-Taste nächstes Theme aktivieren</h6> 
        <img src="{{ url_for('video_feed') }}" alt="Kamera Stream" style="height: calc(100% - 30px); display: block;">
    </body>
</html>
